<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CryptoBak</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
<div id="app" data-app>
    <div class="container">
        <div class="col-lg-6 offset-lg-3">

            <div v-if="ready">
                <p v-for="user in info">
                    {{user.username}} {{user.type}}
                </p>
            </div>

            <div v-if="!ready">
                <h4>Secure messaging</h4>
                <form @submit.prevent="addUser">
                    <div class="form-group row">
                        <input type="text" class="form-control col-9" v-model="username"
                               placeholder="Enter username">

                    </div>
                    <div class="form-group row">
                        <input type="text" class="form-control col-9" v-model="key"
                               placeholder="Enter secret key">
                        <span style="padding: 7px 0px 0px;">or</span> <button class="btn btn-success" @click="genKey" type="button">generate new</button>

                    </div>
                    <div class="form-group row">
                        <input type="submit" value="Join" class="btn btn-info ml-1">
                    </div>
                </form>
            </div>
            <h2 v-else>Your username is: {{username}}</h2>
            <div class="card bg-info" v-if="ready">
                <div class="card-header text-white">
                    <h4><span class="float-right"><span id="conns"></span> connections</span></h4>
                    <p>
                        Chat hash <span style="font-size: 8pt; color:#001437;">{{chat_hash}}</span>
                    </p>
                </div>
                <div class="card-body">
                    <form @submit.prevent="send">
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="newMessage"
                                   placeholder="Enter message">
                        </div>
                    </form>
                </div>
                <ul class="list-group list-group-flush text-right">
                    <small v-if="typing" class="text-white">{{typing.username}} is typing</small>
                    <li class="list-group-item" v-for="message in messages.slice().reverse()">
                            <span :class="{'float-left':message.type === 1}">
                                <small v-if="message.type === 1" style="background:#f00; color:#fff;padding:3px;">{{message.user}}:</small>

                                <v-tooltip bottom>
                                  <template v-slot:activator="{ on }">
                                    <span v-on="on">{{message.message}}</span>
                                  </template>
                                  <span>{{message.createdDate}}</span>
                                </v-tooltip>




                            </span>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha3/0.8.0/sha3.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (!Notification) {
            console.log('Desktop notifications not available in your browser. Try Chromium.');
            return;
        }

        if (Notification.permission !== 'granted') {
            Notification.requestPermission();
        }

        window.onblur = function(){
            window.focused = false;
        };
        window.onfocus = function(){
            window.focused = true;
        }
    });


    function sendNotification() {
        if (Notification && Notification.permission === 'granted') {
            var notification = new Notification('New secret message', {
                body: 'You have received new message',
            });
            notification.onclick = function() {
                window.focus();
            };

        }
    }

    var socket = io();



    let vue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                newMessage: null,
                messages: [],
                typing: false,
                username: null,
                key: null,
                chat_hash: null,
                ready: false,
                info: [],
                connections: '0',
                cipher: null
            }
        },

        created() {
        },

        watch: {
            newMessage(value) {
                value ? socket.emit('typing', {username: this.username, chat_hash: this.chat_hash}) : socket.emit('stopTyping', {chat_hash: this.chat_hash})
            }
        },

        methods: {
            updateConn(n) {
                this.connections = n;
            },
            genKey() {
                var k = Math.random()
                    .toString(36)
                    .slice(2, 18);
                k += Math.random()
                    .toString(36)
                    .slice(2, 18);
                k += Math.random()
                    .toString(36)
                    .slice(2, 18);
                this.key = k;
            },
            send() {
                this.messages.push({
                    message: this.newMessage,
                    type: 0,
                    user: 'Me',
                    dateCreated: new Date(),
                });

                socket.emit('chat-message', {
                    chat_hash: this.chat_hash,
                    message: this.cipher.encrypt(this.newMessage),
                    user: this.username
                });
                this.newMessage = null;
            },

            addUser() {
                this.$forceUpdate();  // Notice we have to use a $ here
                this.chat_hash = sha3_512(this.key);
                this.ready = true;
                const _key = this.key;
                this.cipher = {
                    secret : this.key,
                    encrypt : function (clear){
                        // encrypt() : encrypt the given clear text
                        console.log(this.key);
                        var cipher = CryptoJS.AES.encrypt(clear, _key);
                        cipher = cipher.toString();
                        return cipher;
                    },

                    decrypt : function (cipher) {
                        // decrypt() : decrypt the given cipher text

                        var decipher = CryptoJS.AES.decrypt(cipher, _key);
                        decipher = decipher.toString(CryptoJS.enc.Utf8);
                        return decipher;
                    }
                };

                window.onbeforeunload = () => {
                    socket.emit('leave', {username: this.username, chat_hash: this.chat_hash});
                };

                socket.on(this.chat_hash+'.history', (data) => {
                    console.log('HISTORY');
                    console.log(data);

                   for(let k in data) {
                       const m = data[k];
                        console.log(m);
                       this.messages.push({
                           message: this.cipher.decrypt(m.message),
                           type: m.username === this.username ? 0 : 1,
                           user: m.username,
                           createdDate: m.createdDate,
                       });
                   }
                });
                socket.on(this.chat_hash+'.chat-message', (data) => {
                    console.log(data);
                    this.messages.push({
                        message: this.cipher.decrypt(data.message),
                        type: 1,
                        user: data.user,
                        createdDate: data.createdDate,
                    });
                    if (false === window.focused) {
                        sendNotification();
                    }
                });

                socket.on(this.chat_hash+'.typing', (data) => {
                    this.typing = data;
                });


                socket.on(this.chat_hash+'.stopTyping', () => {
                    this.typing = false;
                });

                socket.on(this.chat_hash+'.joined', (data) => {
                    this.info.push({
                        username: data.username,
                        type: 'joined'
                    });

                    setTimeout(() => {
                        this.info = [];
                    }, 5000);
                });

                socket.on(this.chat_hash+'.leave', (data) => {
                    this.info.push({
                        username: data.username,
                        type: 'left'
                    });
                    setTimeout(() => {
                        this.info = [];
                    }, 5000);
                });

                socket.on(this.chat_hash+'.connections', function(data) {
                    console.log('Connections');
                    console.log(data);
                    document.getElementById('conns').innerText = data;
                });

                socket.emit('joined', {username: this.username, chat_hash: this.chat_hash});


            }
        },

    });
</script>

</html>